{{ define "content" }}
<section class="new-phones">
    <h2>New Phones</h2>
    <div class="phone-grid">
        {{range .NewPhones}}
        <div class="phone-item">
            <img src="{{.Image.URL}}" alt="{{.Name}}">
            <h3>{{.Name}}</h3>
            <p>{{.Description}}</p>
            <button type="button" class="get-now-button" data-phone-id="{{.ID}}" onclick="addToCart(this)">Get
                now</button>
        </div>
        {{end}}
    </div>
</section>

<section class="featured-phones">
    <h2>Featured Phones</h2>
    <div class="phone-grid">
        {{range .FeaturedPhones}}
        <div class="phone">
            <img src="{{.Image.URL}}" alt="{{.Name}}">
            <h3>{{.Name}}</h3>
            <p>{{.Description}}</p>
            <p>{{.Price}}</p>
            <button type="button" class="get-now-button" data-phone-id="{{.ID}}" onclick="addToCart(this)">Add to
                cart</button>
        </div>
        {{end}}
    </div>
    <button type="button" class="view-all-button">View all</button>
</section>

<section class="sale">
    <div class="sale-banner">
        <h3>{{.SalePhone.Name}}</h3>
        <img src="{{.SalePhone.Image.URL}}" alt="Sale banner">
        <button type="button" class="sale-button" data-phone-id="{{.SalePhone.ID}}" onclick="addToCart(this)">Get
            now</button>
    </div>
</section>

<section class="newsletter">
    <h2>Subscribe to the newsletter</h2>
    <p>Be the first to know about our new and exclusive offers.</p>
    <form action="#" method="post" class="newsletter-form">
        <input type="email" name="email" placeholder="Enter your email" required>
        <button type="submit">⇨</button>
    </form>
</section>

<script>
    function addToCart(buttonElement) {
        const phoneId = buttonElement.getAttribute('data-phone-id');
        fetch('/api/users/me/cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({phoneId: phoneId}),
        })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Failed to add item to cart');
                }
                return response.json();
            })
            .then(data => {
                alert(error);
                console.log('Cart Response:', data);
            })
            .catch(error => {
                alert(error);
                console.error(error);
            });
    }
</script>
{{ end }}
